* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fff 0%, #fff 48%, #4a4949 52%, #4a4949 100%);
}

.banner {
    display: table;
    width: 100vw;
    height: 100vh;
    table-layout: fixed;
}

.banner__wrap {
    display: table-cell;
    vertical-align: middle;
}

.banner__content {
    display: block;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Clearfix */
.banner__content:before,
.banner__content:after {
    content: "";
    display: table;
}

.banner__content:after {
    clear: both;
}

.banner__media {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}

.banner__image img {
    display: inline-block;
    max-width: 100%;
}

.banner__text {
    display: block;
    padding: 30px;
}

.spacer {
    display: block;
    float: left;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media screen and (min-width: 960px) {
    body {
        background: linear-gradient(to right, #fff 0%, #fff 45%, #4a4949 55%, #4a4949 100%);
    }

    .banner__media {
        width: 50%;
        text-align: left;
    }

    .banner__media:last-child {
        text-align: right;
    }

    .spacer {
        display: none;
    }
}

/* .banner__media {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

.banner__image > img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.banner__content {
    max-width: 440px;
    margin: 0 auto;
    text-align: right;
    margin-top: 200px;
}

.banner__content img {
    width: 100%;
}

@media screen and (max-width: 960px) {
    body {
        background: linear-gradient(to bottom, #fff 0%, #fff 40%, #4a4949 60%, #4a4949 100%);
    }

    .banner__media {
        display: table-row;
    }

    .banner__image {
        display: table-cell;
        vertical-align: middle;
        padding: 40px;
    }

    .banner__content {
        margin-top: 40px;
    }

    .banner__text img {
        max-width: 60%;
    }
} */